@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color:#818286;
    text-decoration: none;
    transition: all 600ms ease;
    }
a:hover{
    color:red;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #F3F3F3;
}



header {
    width: 80%;
    height: 10vh;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 2.5vh;
    color: #E42618;
    margin-bottom: 20px;
}
.logo {
    width: 150px;
    height: 10vh;
    display: flex;
}
h1{
    
    font-size: 5vh;
    font-weight: 700;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.enter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: 2px solid #E42618;
    background: #E42618;
    color: #fff;
    transition: all 600ms ease;
    border-radius: 5px;
    font-weight: 700;
}
.enter:hover{
    color:#E42618;
    background: #fff;
}

.main {
    width: 80%;
    margin: 0 auto;
    height: 60vh;
    padding: 1%;
}
.main > .wrapper{
    border: 4px solid #818286;
    border-radius: 10px;
    padding: 1%;

}
.main > .wrapper > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.main > .wrapper > .row > a{
    display: block;
    font-weight: 700;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #818286;
    border: 2px solid #818286;
    width: 30%;
    height: 15vh;
    margin: 1%;
    border-radius: 10px;
    transition: all 600ms ease;
}
    .main > .wrapper > .row > a:hover {
        color:#818286;
        background: #fff;
        transform: translateY(-10px);
    }





footer{
    width: 80%;
    height: 10Vh;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: #838282;

}


@font-face {
    /* название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) */
    font-family: "RailBold"; 
    /* адрес шрифта и тип */
    src: url("../fonts/RussianRail-G-Pro-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }

    /*
    h1{
        font-family: "RailBold";
        }
    */